*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.row-nav {
    display: flex;
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.col-sm{
    width: 20%;
    background-color: lightpink;
    padding: 1rem;

}

.col-lg{
    width: 60%;
    background-color: lightpink;
    padding: 1rem;
}

.header{
    background-color: aqua;
    height: 100px;
    margin-bottom: 1rem;
}

.hero-section {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.container_row {
    width: 200px;
    height: 350px;
    background-color: aqua;
}



.section {
    
    max-width: 1170px;
    padding-top: 1rem, 2rem;

}

.container-section {
    display: flex;
    justify-content: center;
    max-width: 1170px;
    width: 60%;
    margin: auto;
    padding: 3rem, 0;
    
}

.row{
    display: flex;
    justify-content: center;
    max-width: 1170px;
    width: 100%;
    max-height: 80%;
    background-color: palegreen;
    padding: 1rem, 0;
    

}

.col-60{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 60%;
    
}

.col-40{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 40%;
    background-color: cornflowerblue;
}

.last{
    display: flex;
    justify-content: center;
    max-width: 1170px;
    padding: 3rem;
}

.container_last{
    width: 60%;
    background-color: aqua;
}

.debug .container{
    height: 400px;
    background-color: orange;  
}

.debug .row, .debug .hero-section {
    height: 400px;
    background-color: rgb(122, 122, 140);  
}

.debug .section {
    height: 400px;
    background-color: bisque;
}

.debug .container-section{
    height: 400px;
    background-color: lightsalmon;
}

.debug .col-60 {
    height: 240px;
    background-color: cornflowerblue;
}

.debug .col-40 {
    height: 240px;
    background-color: cornflowerblue;
}

.debug .last{
    height: 450px;
}

