*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
}

.col-sm{
   width: 20%;

}

.col-lg{
    width: 60%;
}

.header{
    background-color: aqua;
    height: 100px;
}

.debug .container{
    height: 400px;
  background-color: orange;  
}

.debug .row{
    height: 400px;
  background-color: blue;  
}