*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.row-nav {
    display: flex;
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.col-sm{
    width: 20%;
    background-color: lightpink;
    padding: 1rem;

}

.col-lg{
    width: 60%;
    background-color: lightpink;
    padding: 1rem;
}

.header{
    background-color: aqua;
    height: 100px;
    margin-bottom: 1rem;
}

.hero-section {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.container_row {
    width: 200px;
    height: 350px;
    background-color: aqua;
}

/*
.debug .container{
    height: 400px;
    background-color: orange;  
}
*/
.debug .row, .debug .hero-section{
    height: 400px;
    background-color: rgb(122, 122, 140);  
}
